{% extends 'upload/base.html' %}

{%block content%}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if img_obj %}
        <h3>Successfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
        <a href="{% url 'img_clustering' pk=img_obj.pk %}">clustering 결과 보기</a>
        <h2><a href="{% url 'comp_result' pk=img_obj.pk %}">image 추천 결과 보기</a>
    {% endif %}
{%endblock%}